<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="fragment" content="!" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/application.min.css">
  <script type="text/javascript" src="/assets/application.min.js" async></script>
</head>
<body>
</body>
</html>