<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>

<h1>SeoJs: Indexando Aplicações Ricas</h1>

<img src="assets/seoJs-logo.png" class="blockCenter" width="512" heigth="221"/>
</br>
</br>
<p>Buscando uma melhor experiência do usuário muitos desenvolvedores têm procurado os recursos necessários no AJAX, devido o javascript ser executado no lado do cliente, sua implementação tem acarretado diversos problemas de indexação.</p>

<strong>por que esse problema precisa ser resolvido?</strong>
<ul>
  <li>Desde o surgimento da web 2.0: mais e mais conteúdos são criados dinamicamente (~ 69%)</li>
  <li>Desenvolvedores são desencorajados a criação de aplicativos dinâmicos</li>
  <li>O progresso da Web é impedido por falta de solução de indexação de sites dinâmicos.</li>
</ul>


Mas antes de chegar à solução precisamos entender rapidamente o que é o AJAX, como ele funciona e quais os benefícios e malefícios que sua implementação pode acarretar.</p>

Antes de chegarmos a solução precisamos entender algumas coisas:

<ul>
  <li>{{#linkTo "ajax.o_que_e"}}Ajax{{/linkTo}}</li>
  <li>{{#linkTo "index.browser_e_buscadores_o_que_veem"}}Browser e Buscadores, o que vêem?{{/linkTo}}</li>
  <li>{{#linkTo "index.google_e_bing"}}Google e Bing{{/linkTo}}</li>
  <li>{{#linkTo "ajuste"}}Ajuste{{/linkTo}}</li>
</ul>