<h2>Como funciona?</h2>

<p>Nos sites tradicionais toda vez que o navegador tem que buscar novas informações no servidor e retornar para o cliente é necessário um "reload" da tela, mas com o AJAX isto ocorre de forma bem mais eficiente.</p>

<p>Através do AJAX a lógica de processamento fica a cargo na máquina cliente, ou seja, quando o usuário faz uma requisição para o servidor, quem busca e retornar as informações é o JavaScript de forma assíncrona. Desta forma não é necessário o "reload" da tela.</p>



<p>Enquanto em uma aplicação Web clássica o navegador tem que ir buscar as informações no servidor e retornar para o cliente, no Ajax ocorre de forma diferente.</p> 

No carregamento da página, toda a lógica de processamento de dados é passado ao cliente. Quando o usuário faz uma requisição, quem busca e trás essas informações é o JavaScript, de forma assíncrona, não causando assim o chamado "reload" na tela. O tratamento dos dados, seu formato e exibição fica toda por conta do script que foi carregado inicialmente quando se acessou a página. O processo inicial de carregamento é mais lento que de uma aplicação comum, pois muitas informações são pré-carregadas. Mas depois, somente os dados são carregados, tornando assim o site mais rápido.


<p>Dependendo da quantidade de scripts que passarão pelo processo de carregamento pode parecer mais lento comparado com uma aplicação comum, pois muitas das informações serão pré-carregadas. Após ter sido carrregados os scripts apenas os dados são carregados, tornando assim sua aplicação ainda </p>



<p>Comparado com uma aplicação comum, o carregamento da sua aplicação pode parecer mais lenta devido a quantidade/tamanho dos scripts que serão carregados na inicialização. Após iniciar sua aplicação apenas os dados serão carregados, tornando sua aplicação ainda mais rápida.</p>

--------------------------------------------------------------------------------------------------------------------

<p>Nos sites tradicionais </p>