<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Ajax</li>
        <li>{{#linkTo "ajax.o_que_e"}}O que é{{/linkTo}}</li>
        <li>{{#linkTo "ajax.como_funciona"}}Como funciona{{/linkTo}}</li>
        <li>{{#linkTo "ajax.beneficios"}}Benefícios{{/linkTo}}</li>
        <li>{{#linkTo "ajax.maleficios"}}Malefícios{{/linkTo}}</li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="row-fluid">
      {{outlet}}
    </div>
  </div>
</div>