<h2>Um ajuste entre o buscador e o servidor</h2>

<p>A fim de tornar suas aplicações AJAX rastreáveis​​, o seu site precisa obedecer a um novo acordo. Este ajuste baseia-se no seguinte:</p>

<ol>
  <li>O site adota o esquema de rastreamento de AJAX.</li>
  <li>Para cada URL que tem conteúdo produzido dinamicamente, o servidor fornece um snapshot do HTML, que é o conteúdo que o usuário vê em seu navegador. Muitas vezes, tais URLs serão URLs AJAX, ou seja, URLs contendo um fragmento de hash, por exemplo www.seusite.com.br/index.html#contato, onde #contato é o fragmento hash. O snapshot de HTML é todo o conteúdo que aparece na página após a JavaScript ter sido executado.</li>
  <li>O motor de busca irá indexar o snapshot de HTML e servirá suas URLs AJAX originais nos resultados de busca.</li>
</ol>

<p>A fim de fazer este trabalho, o aplicativo deve usar uma sintaxe específica na URLs AJAX (vamos chamá-los de "URLs bonita"). O mecanismo de busca vai modificar temporariamente a "URLs bonita" em "URLs feia" e pedirá esta a seu servidor. Este pedido de uma "URL feia" indica ao servidor que ele não deve retornar a página web regular, daria para um navegador, mas sim um instantâneo HTML. Quando o rastreador obteve o índice para o URL feio modificado, ele indexa seu conteúdo, em seguida, exibe a URL bem original nos resultados da pesquisa. Em outras palavras, os usuários finais vão sempre ver o URL bonita contendo um fragmento hash. O diagrama a seguir resume o acordo:</p>

<img src="/images/funcionamento_ajax_seo.png" class="blockCenter">
