<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo "index" class="brand"}}<img src="assets/seoJs-logo-min.png" alt="SeoJs" width="80" height="30"/>{{/linkTo}}
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">{{#linkTo "index"}}Home{{/linkTo}}</li>
          <li>{{#linkTo "ajax.o_que_e"}}Ajax{{/linkTo}}</li>
          <li>{{#linkTo "ajuste"}}Ajuste{{/linkTo}}</li>
          <li>{{#linkTo "sobre"}}Sobre{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    {{outlet}}
  </div>
</div>