<h1>Ajax-Seo</h1>



<h2>O que o usuário vê, o que o mecanismo de busca vê</h2>

<p>Nos últimos anos, mais e mais a web se tornou preenchida com aplicações ricas em javascript, substituindo páginas HTML estáticas. Este é um grande grande passo no desenvolvimento para os usuários, pois torna as aplicações muito mais rápidas e mais ricas.</p>

<p>Mas fazer sua aplicação mais ágil veio com um custo enorme: crawlers não são capazes de ver todo o conteúdo que é criado dinamicamente. Como resultado, as aplicações mais modernas são também aquelas que muitas vezes são as menos indexadas pelos mecanismos de busca. Por exemplo, uma aplicação típica AJAX pode resultar na seguinte a ser visto pelo rastreador:</p>

<p>O navendor pode executar JavaScript e produzir conteúdo on the fly, os mecanismos de busca não. Para fazer com que o buscador veja o que o usuário vê, o servidor precisará entregar um snapshot do HTML com o resultado da execução do JavaScript em sua página.</p>

<p>Parece um pouco complicado mas o <strong>Ajax-Seo</strong> permite exatamente isso: ele permite que o servidor web possa entregar aos mecanismos de busca um HTML criado a partir de pedaços de conteúdo estático, bem como pela execução de JavaScript para as páginas do aplicativo. Isso é o que chamamos de um snapshot do HTML.</p>

<p><a href="#" class="btn btn-primary btn-large">Veja mais»</a></p>