<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Home</li>
        <li>{{#linkTo "index.index"}}Home{{/linkTo}}</li>
        <li>{{#linkTo "index.browser_e_buscadores_o_que_veem"}}Browser e Buscadores, o que vêem?{{/linkTo}}</li>
        <li>{{#linkTo "index.google_e_bing"}}Google e Bing{{/linkTo}}</li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="row-fluid">
      {{outlet}}
    </div>
  </div>
</div>